.Information {
    display: flex;
    height: 400px;
    width: 65%;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.4);
    position: relative;
}

.information-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #fb8500;
    border-radius: 0px 0px 10px 10px;
    justify-content: space-evenly;
}

.information-nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 8px;
    width: 33%;
    font-size: small;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.information-nav-btn:hover {
    background-color: #ffb703;
}