.Certificates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    height: 96%;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    align-items: center;
    margin-top: 2%;
    gap: 15px;
    overflow-y: scroll;
}

.certificates-img {
    border-radius: 5px;
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.4);
    height: 150px;
    width: 150px;
    filter: rgb(58, 58, 58);
    filter: grayscale();
}

.certificates-img:hover {
    filter: none;
    transition: filter .6s;
}