.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://fondosmil.com/fondo/34269.jpg);
    position: absolute;
}

.profile-about-projects {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10%;
}

.app-copyright {
    height: 40px;
    width: 40px;
    margin-bottom: 50px;
    border-radius: 50%;
    box-shadow: 3px 3px 12px 5px rgba(0, 0, 0, 0.9);
}

.app-copyright:hover {
    scale: 1.5;
    cursor: pointer;
    animation: ease-in-out(0.77, 0, 0.175, 1);
    animation-iteration-count:infinite;
}

@media (max-width:800px) {
    .App {
        overflow: scroll;
    }

    .profile-about-projects {
        display: flex;
        flex-direction: column;
        margin-top: 300px;
    }

    .app-copyright {
        margin-top: 50px;
    }
}