.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://fondosmil.com/fondo/34269.jpg);
    position: absolute;
}

.profile-about-projects {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10%;
}