.ProfileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 25%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 12px 10px rgba(0, 0, 0, 0.9);
}

.profilecard-banner {
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: #fd9e02;
    /* background-image: url(https://media.giphy.com/media/3osxYsSSxjWhZw0BUY/giphy.gif); */
    background-position: center;
    
}

.profilecard-img {
    height: 130px;
    width: 130px;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: -70px;
}

.profilecard-job {
    margin-top: -20px;
    font-size: small;
}

.profilecard-mail {
    text-decoration: none;
    font-size: small;
    margin-top: -10px;
    padding-bottom: 30px;
}

.profilecard-links {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    gap: 3px;
}

.profilecard-icons-links {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.profilecard-icons-links:hover {
    transform: scale(1.5);
}

.profilecard-icons-links-square {
    height: 35px;
    width: 30px;
    padding: 20px;
    cursor: pointer;
}

.profilecard-icons-links-square:hover {
    transform: scale(1.5);
}