.AboutMe {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* padding: 30px; */
}

.aboutme-about {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.aboutme-hi {
    display: flex;
    font-size: 50px;
    color: #023047;
    justify-content: center;
    margin: 30px;
}

.aboutme-country {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-left: 20px;
    /* margin-bottom: 80px; */
    color: #fb8500;
}

.aboutme-description {
    margin-top: 5px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    
    /* background-color: green; */
}

.aboutme-techskills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    /* padding: 50px; */
    padding-right: 50px;
    padding-left: 10px;
    padding-top: 65px;
    align-items: center;
    height: 240px;
    gap: 10px;
}

.aboutme-icons-links-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.aboutme-icons-links-square {
    height: 40px;
    width: 40px;
}

.aboutme-icons-links-rectangle {
    height: 45px;
    width: 40px;
}